*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body{
overflow: hidden;
margin: 0;
padding: 0;
height: 100%
}
html{
line-height: 1.15;
-webkit-text-size-adjust: 100%;
}
body{ 
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
transform-origin: 0 0;

}
header , main , footer {
width: 100%;
}
/*Header*/
header{
background-color: #465B75;
height: 30vh;
display: flex;
flex-direction: column;
align-items: left;
padding: 1rem;;
}
.logo-container{
display: flex;
flex-direction: column;
align-items: left;
position:absolute;
left:40px;
}
.ImagenLogo{
width: 110px;
margin-bottom: 0.2rem;
position: relative;
left: 16px;
bottom:20px ;
}
h1{
color: white;
font-size: 1em;
margin: 0;
display:flex;
position:absolute;
bottom:20px;
}
.MenuHeader{
display: flex;
justify-content: right;
width: 100%;
position: absolute;
top: 0.5rem;
right:0.1px;

}
.MenuHeader ul{
list-style: none;
display: flex;
gap: 12px;
}
.MenuHeader ul li a{
text-decoration: none;
color:white;
font-weight: bold;
padding: 10px 15px;
}


/*Main*/
main{
background-color:#DEE9F7 ;
padding:20px;
overflow-y:hidden;
margin-bottom: 0.1px;
height: 35cm;
}
/*Footer */ 
footer{
padding:10px 0;
flex: 0;
background-color: #465B75;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;


}
body.zoomed{
transform: scale(1.5);
}